/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /reset rules */


/* general rules */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #d4dbd9, #d4dbd9 50%, #d4dbd9 80%, #009688 75%);
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    font-size: 13px;
    font-weight: 500;
}
a{
    color: #5e8da3;
    padding: 5px 0;
}
i{
    font-size: 19px;
}
/* to remove the borders on input focus */
textarea:focus, input:focus{
    outline: none;
}
.color-blu{
    background: #8edafc;
}
.color-lightgrey{
    background: #eaeaea;
}

/* /general rules */

/* application section */

.container-app{
    width: 80%;
    display: flex;
    background-color: white;
    height: 90vh;
}



/* account section */

.account-container{
    width: 40%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;  
    align-content: flex-start;

}

.account-container .header-account-formatting{
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
}

.account-container .header-account-formatting img#user-account{
    width: 40px;
    border-radius: 50%;
    margin: 5px 10px;
    object-fit: contain;
    object-position: center;
}

.header-account-formatting .container-icons{
    margin-left: auto;
    padding: 5px;
}
.header-account-formatting .container-icons i{
    padding: 5px;
    cursor: pointer;
    color: rgba(177, 177, 177, 0.8);
}

/* notification bell  */

.header-account-formatting.color-blu{
    padding: 10px 0;
}
.header-account-formatting.color-blu i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    background: white;
    color: #8edafc;
}

/* /notification bell  */

/* search bar */

#search-bar-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}



#search-bar-container .search-bar-formatting{
    width: 95%;
    background-color: white;
    border: 1px solid #f5f5f5;
    margin: 5px;
    display: flex;
    align-items: center;

}


#search-bar-container .search-bar-formatting i{
    padding: 7px 0;
    padding-right: 25px;
    padding-left: 20px;
    height: 100%;
    border-right: 1px solid #f5f5f5;
    font-size: 15px;
    color: #b6b9bb;

}
#search-bar-container .search-bar-formatting input{
    flex-grow: 1;
    padding: 5px;
    border: 0;
}


/* search bar */



/* contacts section */

.account-container .contacts-container{
    background-color: white;
    overflow-y: scroll;
    flex-grow: 2;
    width: 100%;
}
.account-container .contacts-container ul{
    list-style: none;
}
.account-container .contacts-container ul li{
    /* background-color: #e9ebeb; */
    border-top: 1px solid #ececec;
    display: flex;
    padding: 8px;
}

.account-container .contacts-container ul li img{
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: contain;
    object-position: center;
}




/* /contacts section */



/* /account section */









/* chat section */

.chat-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: brown;
}
.chat-container .header-account-formatting.color-lightgrey{
    border-left: 1px solid #d8d8d8;
    width: 100%;
    display: flex;
    align-items: center;
}
.chat-container img#user-account{
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px;
    object-fit: contain;
    object-position: center;
}
.chat-container .header-account-formatting.color-lightgrey h6 span{
    font-size: 12px;
    color: #7b8284;

}




/* section main chat  */

.main-chat-container{
    flex-grow: 3;
}

/* /section main chat  */






/* section chat input */


.chat-input-container{
   background-color: #f3eeea; 
   width: 100%;
   display: flex;
   align-items: center;
}
.chat-input-container i{
    padding: 10px 20px;
    color: #6b7376;
    font-size: 22px;

}
.chat-input-container input{
    flex-grow: 2;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 15px;
}


/* /section chat input */





/* /chat section */


/* /application section */
