/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /reset rules */


/* general rules */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #d4dbd9, #d4dbd9 50%, #d4dbd9 80%, #009688 75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /general rules */

/* application section */

.container-app{
    width: 80%;
    display: flex;
    background-color: white;
    height: 90vh;
}



/* account section */

.account-container{
    width: 40%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;

}

.account-container .header-account{
    display: flex;
    height: 10vh;
    align-items: flex-start;
    width: 100%;
    align-items: center;
    background: #eaeaea;
}

.account-container .header-account img#user-account{
    width: 40px;
    border-radius: 50%;
    margin: 5px 10px;
    object-fit: contain;
    object-position: center;
}

.header-account .container-icons{
    margin-left: auto;
    padding: 5px;
}
.header-account .container-icons i{
    padding: 5px;
    color: rgba(177, 177, 177, 0.8)
}




/* /account section */



/* chat section */

.chat-container{
    width: 60%;
    height: 100%;
    background-color: brown;
}

/* /chat section */


/* /application section */
