<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- link to fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /link to fontawesome -->

        <!-- link to font style -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <!-- /link to font style -->

        <!-- link to the css sheet -->
        <link rel="stylesheet" href="./css/style.css">
        <!-- /link to the css sheet -->



        <title>Vue Boolzapp</title>
    </head>
    <body>
        <!-- vueJs root container-->
        <div class="container-app" id="root">

            <!-- accounts section -->

            <section class="account-container">

                <div class="header-account-formatting color-lightgrey">
                    <img id="user-account" src="./img/avatar_io.jpg" alt="">
                    <h6>Nome Utente</h6>
                    <div class="container-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- notification bell -->
                <div class="header-account-formatting color-blu">
                    <i class="fas fa-bell-slash"></i>
                    <h6>
                        Ricevi notifiche di nuovi messaggi <br>
                        <a href="#"><span>Attiva notifiche desktop</span></a>

                    </h6>
                </div>
                <!-- /notification bell -->

                <!-- search bar -->
                <div id="search-bar-container">
                    <div class="search-bar-formatting">
                        <i class="fas fa-search"></i>
                        <input type="text" v-model="filter" v-on:input="filteredObj" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                
                <!-- /search bar -->

                <!-- contacts section -->
                <div class="contacts-container">
                    <ul>
                        <li  :class="contactIndex==index ? 'selected': ''" @click="selectChat(index)" v-for="(contact,index) in contacts" :key="index" v-if="contact.visible">
                            <img :src="'./img/avatar' + contact.avatar +'.jpg'" alt="contact profile img">
                            <h5>{{contact.name}}</h5>
                        </li>
                    </ul>
                </div>
                
                <!-- /contacts section -->


            </section>


            <!-- /accounts section -->



            <!-- chat window section -->
            <section class="chat-container">

                <div class="header-account-formatting color-lightgrey">
                    <img id="user-account" src="./img/avatar_io.jpg" alt="">
                    <h6>
                        Nome Utente <br>
                        <span>Ultimo accesso oggi alle</span>
                    </h6>
                    <div class="container-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>


                <!-- section main chat -->
                <div class="main-chat-container">
                    <div class="messages-container">
                        <ul>
                            <li @click="" :class="contact.status=='sent' ? 'sent-msg': 'received-msg'" v-for="(contact,index) in contacts[contactIndex].messages" :key="index" class="message-box">
                                <h6>{{contact.message}}</h6>
                                <span>{{contact.date}}</span>
                                <div v-if="true" class="delete-box">
                                    <h6>Info messaggio</h6>
                                    <h6>Cancella messaggio</h6>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
                <!-- section chat input -->

                <div class="chat-input-container">
                    <i class="far fa-smile"></i>
                    <input v-model="messageInput" v-on:keyup.enter="sendMessage" type="text" placeholder="Inserisci un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>

                <!-- /section chat input  -->



            </section>
            <!-- /chat window section -->


        </div>
        <!-- /vueJs root container-->



        <!-- link to js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/script.js"></script>
        <!-- /link to js -->

    </body>
</html>